name: CD Automated

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed

jobs:

  build:

    runs-on: self-hosted

    steps:
    - name: Pull Docker image
      run: sudo docker pull  manojdigitaldocker/classic-cicd:latest
    - name: Delete Old docker container
      run: echo "Nothing to be removed..no old image found in the repo classic-cicd"
    - name: Run Docker Container
      run: sudo docker run -d -p 8080:8080 --name cicd-pipeline-container manojdigitaldocker/classic-cicd
