name: ECR push & EKS deploy

on:
 workflow_dispatch

jobs:
 ecrpush:
   runs-on: ubuntu-latest
   steps:
    - name: Action for GitHub Actions
      uses: aws-actions/configure-aws-credentials@v5.1.0
      with:
        aws-region: ${{secrets.AWS_REGION  }}
        aws-access-key-id: ${{secrets.AWS_ACCESS_KEY_ID}}
        aws-secret-access-key: ${{secrets.AWS_SECRET_ACCESS_KEY}}

    - name: Amazon ECR "Login" Action for GitHub Actions
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2

    - name: Set image variables
      id: vars
      run: |
        echo "IMAGE_TAG=latest" >> $GITHUB_ENV
        echo "FULL_IMAGE=${{ steps.login-ecr.outputs.registry}}/${{secrets.ECR_REPOSITORY }}: ${{IMAGE_TAG}}" >> $GITHUB_ENV

    - name: Build Docker image
      run: |
        docker build -t $FULL_IMAGE .
    - name: Push image to Amazon ECR
      run: |
        docker push $FULL_IMAGE

    - name: Update kubeconfig for EKS
      run: |
       aws eks update-kubeconfig --region ${{ secrets.AWS_REGION }} --name ${{ secrets.EKS_CLUSTER_NAME }}
    - name: Update Kubernetes Deployment Image
      run: |
       sed -i "s|REPLACE_IMAGE|$FULL_IMAGE|g" k8s/deployment.yaml

    - name: Apply Kubernetes Manifests
      run: |
       kubectl apply -f k8s/deployment.yaml
       kubectl apply -f k8s/eks-service.yaml || true
