name: DHB push & DHB container deploy

on:
 workflow_dispatch

env:
 DOCKER_USERNAME: ${{vars.DOCKER_USERNAME}}
 DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
 DOCKER_IMAGE: manojdigitaldocker/myapp:latest
jobs:
 build-using-docker:
  runs-on: ubuntu-latest
  steps:
   - name: Checkout code 
     uses: actions/checkout@v4.2.2
  
   - name: Docker Build
     run: |
      docker build -t $DOCKER_IMAGE:${{github.sha}} .
      docker tag $DOCKER_IMAGE:${{github.sha}} $DOCKER_IMAGE:v1.2

   - name: run-docker
     run: |
      docker run -d --name flask-python -p 5000:5000 $DOCKER_IMAGE:v1.2
  
